<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Test View for Edit Student Grades</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/tablelist.css">
</head>
<body>
<header th:insert="layout/layout.html :: header"></header>

 <div>
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5" style="width:40px;">
                            <a th:href="@{/lecturer/courses/enrol/} + ${course_id}"><i class="material-icons" data-toggle="tooltip"
                                    title="Back" style="color: floralwhite;">
                                    <h2>&#xe5c4;</h2>
                                </i></a>
                        </div>
                        <div class="col-sm-6" style="width: auto;">
                            <h2>View <b>Students Enrolled</b></h2>
                        </div>
                    </div>
                </div>
				<form
					th:action="@{/lecturer/enrol/savegrades/} + ${enrol.id}"
					th:object="${students}" method="post">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
							<th>ID </th>
							<th>First Name </th>
							<th>Last Name </th>
							<th>Matriculation Date </th>
							<th>Edit Grades </th>
							</tr>
						</thead>
						<tbody>
							<!-- stat is used so we can iterate and use th:field -->
							<tr th:each="stu, stat :*{students}">
								<td><input class="form-control-plaintext" type="text" readonly="readonly"
									th:field="*{students[__${stat.index}__].id}" /></td>
								<td><input class="form-control-plaintext" type="text" readonly="readonly"
									th:field="*{students[__${stat.index}__].firstName}"/></td>
								<td><input class="form-control-plaintext" type="text" readonly="readonly"
									th:field="*{students[__${stat.index}__].lastName}"/></td>
								<td><input class="form-control-plaintext" type="text" readonly="readonly"
									th:field="*{students[__${stat.index}__].matriculationDate}"/></td>
								<td>
									<div th:if="${canEditGrade} == false">Course In Progress</div>
    								<input min="0" max="100" step="0.1" type="number" th:if="*{grades[__${stu.id}__]} == -1.0 and ${canEditGrade} == true" 
    									th:name="'grades['+${stu.id}+']'" th:value="Null"/> 
    								<input min="0" max="100" step="0.1" type="number" th:if="*{grades[__${stu.id}__]} >= 0.0 and *{grades[__${stu.id}__]} <= 100.0 and ${canEditGrade} == true" 
    									th:field="*{grades[__${stu.id}__]}"/>
								</td>
							</tr>
						</tbody>
					</table>
					<input type="submit" value="Save" />
				</form>
			</div>
        </div>
    </div>
</body>
</html>