<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <header th:insert="layout/layout.html::header"></header>
    <a th:href="@{/courseview/list/enrol}"><input type="button" value="New Enrolment" /></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Enrolment Id</th>
                <th scope="col">Course Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Status</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="enrol:${grades.keySet()}">
                <td th:text="${enrol.Id}"></td>
                <td th:text="${enrol.course.name}"></td>
                <td th:text="${enrol.capacity}"></td>
                <td th:text="${enrol.status}"></td>
                <td th:text="${enrol.startDate}"></td>
                <td th:text="${enrol.endDate}"></td>
                <td th:if="${grades.get(enrol)} <= 100.0" th:text="${grades.get(enrol)}"></td> 
                <td th:if="${grades.get(enrol)} == 101.0" th:text="Null"></td>     
                <td><a th:href="@{/courseview/cancel/}+${enrol.Id}"><input type="button" value="Cancel" /></a></td>           
            </tr>
        </tbody>
    </table>
</body>

</html>