<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>View Grades</title>
</head>
<body>
<header th:insert="layout/layout.html :: header"></header>

<h2>Module Grades</h2>
<table class="table">
  <thead>
  <tr>
    <th>Module</th>
    <th>Description</th>
    <th>Units Taken</th>
    <th>Grade</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="stu:${student.keySet()}">
    <td th:text="${stu.course.description}">Module</td>
    <td th:text="${stu.course.name}">Description</td>
    <td th:text="${stu.course.modularcredits}">Units Taken</td>
    <td th:text="${student.get(stu)}">Grade</td>
  </tr>
  </tbody>
</table>

<h2>Program - Graduate Diploma (ISS)</h2>
<table class="table">
  <thead>
  <tr>
    <th> </th>
    <th>From Enrollment</th>
    <th>From Transfer Credit</th>
    <th>Combined Term Total</th>
    <th>Cumulative Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Graded MCs earned towards CAP</td>
	<td th:text="${totalCredit}"></td>
    <td></td>
    <td th:text="${totalCredit}"></td>
    <td th:text="${totalCredit}"></td>
  </tr>
  <tr>
    <td>Graded MCs earned not for CAP</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>CAP</td>
    <td></td>
    <td></td>
    <td></td>
    <td th:text="${CAP}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>

