<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <header th:insert="layout/layout.html::header"></header>
    <a href="student-form.html" th:href="@{form}"><input type="button" value="Add Student" /></a>
    <table>
        <thead>
            <tr>
                <th>Student Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Matriculation Date</th>
                <th>GPA</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="std:${stdlist}">
                <td th:text="${std.id}"></td>
                <td th:text="${std.firstName}"></td>
                <td th:text="${std.lastName}"></td>
                <td th:text="${std.username}"></td>
                <td th:text="${#temporals.format(std.matriculationDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${std.gpa}"></td>
                <td><a href="student-form.html" th:href="@{edit/}+${std.id}"><input type="button" value="Edit" /></a></td>
                <td><a th:href="@{delete/}+${std.id}"><input type="button" value="Delete" /></a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>